h1{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h4{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h5{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
    width: 400px;
    height: 200px;
}
div{
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    flex-direction:column;
}
body{
    background: linear-gradient(to bottom, black, grey);
}
div a{
    color: white;
}
div a:hover{
    background-color: dimgrey;
    width: 100px;
}
